body {
    background-color:#fff;
}

h1 {
    font-family: 'tahoma';
}

h2 {
    font-family: 'tahoma';
    color: white;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}